{% extends "clientes/base.html" %}
{% block title %} Lista Clientes {% endblock title %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data De Nascimento</th>
            <th>Profissão</th>
            <th>Sexo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td><a href="{% url 'listar_cliente_id' cliente.id %}">{{cliente.nome}}</a></td>
            <td>{{cliente.data_nascimento | date:'d-M-y'}}</td>
            <td>{{cliente.profissao}}</td>
            <td>{{cliente.sexo}}</td>
            <td>
                <a href="{% url 'editar_cliente' cliente.id %}">Editar</a>
                <a href="{% url 'remover_cliente' cliente.id %}">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-primary">Cadastrar</button></a>

{% endblock content %}