<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>TW CLIENTES </title>
</head>

<body>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data De Nascimento</th>
            <th>Profissão</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        {% for i in clientes %}
        <tr>
            <td>{{i.nome}}</td>
            <td>{{i.data_nascimento}}</td>
            <td>{{i.profissao}}</td>
            <td>{{i.sexo}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>