{% extends "clientes/base.html" %}
{% block titulo%} Lista Clientes {% endblock titulo%}
{% block conteudo %}
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data De Nascimento</th>
            <th>Profissão</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        {% for i in clientes %}
        <tr>
            <td>{{i.nome}}</td>
            <td>{{i.data_nascimento | date:'d-M-y'}}</td>
            <td>{{i.profissao}}</td>
            <td>{{i.sexo}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'cadastrar_cliente' %}"><button class="btn btn-primary">Cadastrar</button></a>

{% endblock conteudo %}